.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lavender;
  width: 70%;
  margin: 30px auto;
  padding: 40px 0 50px 0;
  border: gray 5px solid;
  border-radius: 15px;
}

.container {
  width: 50%;
}
.form-control {
  width: 300px;
}


h1 {
  margin: 30px 0 20px 0;
  color: rgb(110, 109, 109);
  font-weight: bold;

}

form {
  margin-bottom: 20px;
}

.list{
  font-size: 25px;
  font-weight: bold;
  color: rgb(110, 109, 109);
}

.trash-btn {
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 17px;
  font-weight: bold;
  color:rgb(81, 130, 236);
  background-color: rgb(197, 189, 189);
}

.add-btn {
  background-color: rgb(135, 137, 241);
  color: white;
  font-weight: bold;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
}

.checkBox {
  font-size: 15px;
  margin-left: 10px;
}